// olculer
// width
$width100: 100%;
// height
$height-x: 100px;
$height-2: $height-x*2;
$height-3: $height-x*3;
$height-4: $height-x*4;
// colors
$mapColor: #f36438;
// hover color
$hover-color: #0cb8b6;
// z-index
$zindex0: 0;
// hover
$hover-trans:all 500ms ease;

